@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Goldman:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Gabarito, Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
}

header {
    font-family: Goldman, Tahoma, sans-serif;
    font-weight: 400;
    top: 0;
    position: sticky;
    background-color: purple;
    color: white;
    padding: 30px;
    text-align: center;
    z-index: 100;
}

header h1 {
    font-size: 2vw;
}

header h3 {
    font-size: 1vw;
}

strong {
    color: rgb(242, 148, 242);
}
.container {
    display: grid;
    padding: 6vw;
    align-items: start;
    grid-auto-rows: minmax(auto, max-content);
}

.concert {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 20px;
    padding: 20px;
    border-radius: 50px;
    transition: outline 0.2s linear, box-shadow 1s linear;
    row-gap: 5px;
    min-height: 600px;
    
}

.concert:hover {
    outline-style: solid;
    outline-color: purple;
    outline-width: medium;
    box-shadow: 0 10px 50px purple;

}

.concert img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    grid-row: 2;
}

.title {
    font-family: Goldman, Arial, sans-serif;
    grid-column: span 2;
    text-align: center;
    margin-bottom: 5px;
}

.maincopy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    grid-row: 2;
    width: 30vw;
    max-width: 500px;
    color: #ffffff;
}

.desc {
    font-family: 'Gabarito', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    grid-column: span 2;
    padding: 5px;
    grid-row: span 2;
}

footer {
    font-family: Goldman, Tahoma, sans-serif;
    font-weight: 400;
    background-color:  purple;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 1vw;
}

#myBtn {
    opacity: 0;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(255, 255, 255); /* Set a background color */
    color: rgb(0, 0, 0); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-family: Goldman, Tahoma, sans-serif;
    transition: opacity 1s linear;
  }
  
  #myBtn:hover {
    background-color: rgb(247, 123, 247); /* Add a dark-grey background on hover */
  }



/* screen responsive css */

@media screen and (max-width: 2500px) {
    .container {
        grid-template-columns: 1fr 1fr;
        padding: 4vw;
        column-gap: 30px;
        row-gap: 30px;
    }
    .title h2 {
        font-size: 1.5vw;
    }
    .maincopy p {
        font-size: 1.2vw;
    }
    .desc p {
        font-size: 1vw;
    }
}

@media screen and (max-width: 700px) {
    .container {
        grid-template-columns: 1fr;
        padding: 2vw;
        row-gap: 10px;
    }
    header h1 {
        font-size: 4vw;
    }
    header h3 {
        font-size: 3vw;
    }
    .concert img {
        margin-left: 15vw;
        transform: scale(0.5);
    }
    .title h2 {
        font-size: 3vw;
    }
    .maincopy p {
        font-size: 3vw;
        width: 60vw;
    }
    .desc p {
        font-size: 3vw;
    }
}