@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Gabarito:wght@400..900&family=Goldman:wght@400;700&display=swap');


body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}



#fire-overlay {
    position: fixed;
    width: 80%;
    height: 80%;
    margin: auto;
    pointer-events: none;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
}


h1 {
    margin-bottom: 15px;
    font-size: 50px;
}

h2 {
    margin-bottom: 30px;
    font-size: 15px;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 18px;
}

.roll-btn {
    width: 48px;
    height: 48px;
    margin: 3px;
    background-color: white;
    color: black;
    border: 4px solid black;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.symbol {
    font-size: 24px;
    width: 48px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
}

.submit-btn {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

#submit-message {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 14px;
    font-size: 18px;
    color: green;
    display: none;
}
